*.m4 linguist-vendored
*.sh linguist-vendored
*.sub linguist-vendored
*.guess linguist-vendored
missing linguist-vendored
test-driver linguist-vendored
install-sh linguist-vendored
depcomp linguist-vendored
configure linguist-vendored
